{% extends "base.html" %}
{% load i18n %}
{% block content %}
<!-- start content column -->
<div class="no-left homepage">
<div class="img-gal">
	<div class="so-much-more">
		<div class="h1"><a href="/education">Education</a> Section is Now Live</div>
		<div>Much more coming soon. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>

	</div>
</div>
<!-- start content column -->
<div class="content-col">

    <div class="content-top">
        <div class="top-bread-crumb">
        {% for navigationNode in breadcrumb %}
            <a href="{{ navigationNode.get_absolute_url }}">
                {{ navigationNode.name }}
            </a>

            {% if not forloop.last %}
                >
            {% endif %}

        {% endfor %}
        </div>
        <div class="h2 hp-recent">Recent Updates</div>
    </div>

    {% for contentItem in contentItems %}
        {% include 'core/list-item.html' with content=contentItem %}
    {% endfor %}
</div>
<!-- end content column -->
{% endblock %}