<!-- start left nav -->
{% if thirdNavigation %}
<div class="nav-col">
	<ul>
		{% for thirdNavigationNode in thirdNavigation %}
			{% if navigationNode and navigationNode.id == thirdNavigationNode.id or thirdNavigationNode in breadcrumb %}
				<li class="active" >
			{% else %}
				<li>
			{% endif %}
				<a href="{{ thirdNavigationNode.get_absolute_url }}">{{ thirdNavigationNode.name }}</a>
				{% if navigationNode.id == thirdNavigationNode.id or navigationNode.parentNode.id == thirdNavigationNode.id and thirdNavigationNode.childNodes %}
					<ul>
						{% for fourthNavigationNode in thirdNavigationNode.childNodes %}
							{% if navigationNode and navigationNode.id == fourthNavigationNode.id or fourthNavigationNode in breadcrumb %}
								<li class="active" >
							{% else %}
								<li>
							{% endif %}
							<a href="{{ fourthNavigationNode.get_absolute_url }}">{{ fourthNavigationNode.name }}</a>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
<!-- end left nav -->