<!-- start left nav -->
{% if thirdNavigation %}
<div class="nav-col">
	<ul>
		{% for thirdNavigationNode in thirdNavigation %}
			{% if navigationNode and navigationNode.id == thirdNavigationNode.id %}
				<li class="active" >
			{% else %}
				<li>
			{% endif %}
				<a class="" href="{% url core.views.content_page thirdNavigationNode.parentNode.parentNode.slug thirdNavigationNode.parentNode.slug thirdNavigationNode.slug thirdNavigationNode.id %}">{{ thirdNavigationNode.name }}</a>
				{% if thirdNavigationNode.childNodes %}
					<ul>
						{% for fourthNavigationNode in thirdNavigationNode.childNodes %}
							{% if navigationNode and navigationNode.id == fourthNavigationNode.id %}
								<li class="active" >
							{% else %}
								<li>
							{% endif %}
							<a href="#">- {{ fourthNavigationNode.name }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
<!-- end left nav -->