<!-- start list item -->
<div class="list-item">
	<div class="list-image">
		{% if content.image %}
		<img src="{{ content.image.url }}" alt="{{ content.name }}" />
		{% endif %}
		<a class="button" href="{{ content.externalURL }}">View</a>
	</div>
	<div class="list-content">
		<div class="h2">{{ content.name }}</div>
		<div class="subtext">{{ content.subtext }}</div>
		<div class="posted-in">{{ content.createdDate|date:"F d, Y" }} posted in <a href="{{ content.navigationNode.get_absolute_url }}">{{ content.navigationNode.name }}</a></div>
		<div class="p">{{ content.description }}</div>
	</div>
</div>
<!-- end list item -->