{% extends "base.html" %}
{% load i18n %}
{% block content %}

{% include 'core/left-nav.html' %}

<!-- start content column -->
<div class="content-col">
	
	<div class="content-top">
		<div class="top-bread-crumb">
		{% for navigationNode in breadcrumb %}
			<a href="">
				{{ navigationNode.name }}
			</a>

			{% if not forloop.last %}
				>
			{% endif %}
		
		{% endfor %}
		</div>

		<h2 class="h1">Recent Updates</h2>
	</div>
	
	{% for contentItem in contentItems %}
		{% include 'core/list-item.html' with content=contentItem %}
	{% endfor %}
</div>
<!-- end content column -->
{% endblock %}
