{% load navigation_tags %}
<div class="level2-nav">
	<div class="level2-nav-wrap">
		<h1 class="page-label">{{ navigationNode.name }}</h1>
		<div class="search">
		</div>
		{% if secondaryNavigation %}
			<ul class="tabs">
				{% for secNavNode in secondaryNavigation %}
					{% if navigationNode.id == secNavNode.id or secNavNode in breadcrumb %}
						<li class="active">
					{% else %}
						<li>
					{% endif %}
						<a href="{{ secNavNode.get_absolute_url }}">
						{{ secNavNode.name }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
		<div style="clear:both;"></div>
	</div>
</div>
