<!-- start ad column -->
<div class="ad-col">
	<div class="ad-col-section">
		<h3 class="h3">Videos</h3>
		<div class="video-unit">
		<iframe src="http://player.vimeo.com/video/44325223?badge=0" width="180" height="110" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/44325223">Rigging Physics</a> from <a href="http://vimeo.com/rescueresponse">Rescue Response Gear</a> on <a href="http://vimeo.com">Vimeo</a>.</p>	
		</div>
		
		<div class="video-unit">
		<iframe src="http://player.vimeo.com/video/8624160?badge=0" width="180" height="110" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/8624160">BLUEWATER ROPES HQ "How Ropes Are Made"</a> from <a href="http://vimeo.com/cedar">Cedar Wright</a> on <a href="http://vimeo.com">Vimeo</a>.</p>	
		</div>
		
		<div class="video-unit">
		<iframe src="http://player.vimeo.com/video/29792857?badge=0" width="180" height="110" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/29792857">Knots, Hitches & Bends: The Basics</a> from <a href="http://vimeo.com/ravencollective">Raven Collective Media</a> on <a href="http://vimeo.com">Vimeo</a>.</p>	
		</div>
 
	 
	</div>
	<div class="ad-col-section">
		<h3 class="h3">Advertisement</h3>
		<div>Coming soon...</div>
	</div>
</div>
<!-- end ad column -->