{% load i18n %}
{% load site_tags %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
	<title>{% block title %}Resuce 360{% endblock %}</title>
	<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/hc-style.css?" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.2.min.js?{% site_version %}"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.all.js?{% site_version %}"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29154103-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body {% if not thirdNavigation %}class="no-left"{%endif%}>
	{% include "header.html" %}
	{% include "core/secondary-nav.html" %}
	<!-- start content -->
	<div class="content">
		<!-- start content body -->
		<div class="content-body">
			{% block content %}{{ content }}{% endblock %}
			{% include "ad-column.html" %}
		</div>
		<!-- end content body -->
		<div style="clear:both;"></div>
	</div>
	<!-- start content -->
	{% include "footer.html" %}
</body>
</html>