{% load set_tag %}
{% load navigation_tags %}
<div class="header" style="background:url('{{ STATIC_URL }}images/bg-test.png') top center">
	<div class="glass">
		<div class="main-nav">
			<a href="{% url core.views.default %}"><img class="site-logo" src="{{ STATIC_URL }}images/logo.png" /></a>
			<ul>
				{% get_top_navigation as topNavigation %}
				{% if topNavigation %}
					{% for node in topNavigation %}
						{% if navigationNode and navigationNode.id == node.id or node in breadcrumb %}
							<li class="active">
						{% else %}
							<li>
						{% endif %}
							<a href="{{ node.get_absolute_url }}">{{ node.name }} - {{ isActive }}</a></li>
					{% endfor %}
				{% endif %}
			</ul>
		</div>
	</div>
</div>